In [13]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

Before loading the original dataset, I changed the names of the variables. There are

In [14]:
troponin_dataset = pd.read_csv('data/R_TS_Dat_v1.csv', index_col=0)
troponin_dataset_whole = pd.read_excel('data/mittlere-werte-troponin-datensatz.xlsx')

/var/folders/gg/w_x4b_tx7tqgntjvzj6vzb4w0000gn/T/ipykernel_9722/3227924481.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  troponin_dataset = pd.read_csv('data/R_TS_Dat_v1.csv', index_col=0)

In [15]:
# Get column names for each dataset
columns_df1 = set(troponin_dataset.columns)
columns_df2 = set(troponin_dataset_whole.columns)

# Find the intersection (common columns) between the two sets of column names
common_columns = columns_df1.intersection(columns_df2)

# Print the common column names and the count
print("Common column names:")
print(common_columns)
print(f"Number of common columns: {len(common_columns)}")

Common column names:
{'MCHValue', 'GPT37Messwert', 'NRBCValue', 'HBAMesswert', 'AFNR', 'TNCDValue', 'RDWCVValue', 'EO_RESEARCHValue', 'PLCR_RESEARCHValue', 'LDH37Messwert', 'NEWYValue', 'CLMesswert', 'MONO#_RESEARCHValue', 'MOZValue', 'GEMesswert', 'KMesswert', 'AANR', 'RDWSDValue', 'MONO_RESEARCHValue', 'BASO#_RESEARCHValue', 'NESFLValue', 'WBCDValue', 'PROBNPMesswert', 'BIGMesswert', 'GGT37Messwert', 'LYWXValue', 'HGBValue', 'HSMesswert', 'BASO_RESEARCHValue', 'TRNMesswert', 'NAMesswert', 'TRIMesswert', 'MOYValue', 'MPVValue', 'NEFSCValue', 'NESSCValue', 'PTTAFMesswert', 'HDLMesswert', 'HFLCValue', 'CAMesswert', 'LYWYValue', 'CPK37Messwert', 'Geb', 'QUIMesswert', 'CHOMesswert', 'Fertig', 'MOWZValue', 'MICRORValue', 'nFT4Messwert', 'PCTValue', 'NEWZValue', 'PDW_RESEARCHValue', 'MACRORValue', 'KRCOMPMesswert', 'NEWXValue', 'HSTMesswert', 'FERNEUMesswert', 'RDWMesswert', 'Sex', 'PMesswert', 'RBCValue', 'LEUMesswert', 'INRQMesswert', 'EO#_RESEARCHValue', 'MCVValue', 'NRBC#Value', 'NEUT#_RESEARCHValue', 'IG#_RESEARCHValue', 'LYZValue', 'INTER6Messwert', 'TSHRMesswert', 'PLTValue', 'CRPMesswert', 'Gender', 'MOXValue', 'Abnahme', 'GLUCMesswert', 'GFRCKDMesswert', 'GOT37Messwert', 'APHMesswert', 'Eingang', 'RMFVValue', 'LYMPH_RESEARCHValue', 'TROPTHSMesswert', 'MOWYValue', 'CAKORRMesswert', 'QHDLMesswert', 'MOWXValue', 'ALBMesswert', 'HCTValue', 'FEMesswert', 'IG_RESEARCHValue', 'FT3RMesswert', 'LYWZValue', 'LYMPH#_RESEARCHValue', 'MCHCValue', 'HFLC#Value', 'QLDLMesswert', 'LYXValue', 'LDLMesswert', 'NEUT_RESEARCHValue', 'LYYValue'}
Number of common columns: 102

In [16]:
troponin_dataset_whole = troponin_dataset_whole[['MOWYValue', 'GPT37Messwert', 'EO_RESEARCHValue', 'TROPTHSMesswert', 'LDLMesswert', 'CHOMesswert', 'RDWCVValue', 'LYMPH_RESEARCHValue', 'NEUT_RESEARCHValue', 'PTTAFMesswert', 'INRQMesswert', 'CAMesswert', 'FEMesswert', 'NRBCValue', 'HFLC#Value', 'NEFSCValue', 'PCTValue', 'MOWXValue', 'GGT37Messwert', 'PROBNPMesswert', 'GEMesswert', 'Sex', 'MOYValue', 'QHDLMesswert', 'PLCR_RESEARCHValue', 'EO#_RESEARCHValue', 'FERNEUMesswert', 'BASO_RESEARCHValue', 'AANR', 'MOWZValue', 'RDWSDValue', 'RMFVValue', 'TRNMesswert', 'MICRORValue', 'BASO#_RESEARCHValue', 'KRCOMPMesswert', 'Eingang', 'nFT4Messwert', 'CPK37Messwert', 'NRBC#Value', 'CAKORRMesswert', 'MCHValue', 'GLUCMesswert', 'NEWYValue', 'MPVValue', 'MONO_RESEARCHValue', 'HFLCValue', 'WBCDValue', 'NESSCValue', 'Abnahme', 'RBCValue', 'MCVValue', 'HSTMesswert', 'Geb', 'NEWZValue', 'KMesswert', 'HGBValue', 'NAMesswert', 'BIGMesswert', 'HDLMesswert', 'GOT37Messwert', 'QUIMesswert', 'CRPMesswert', 'FT3RMesswert', 'LYWYValue', 'ALBMesswert', 'LYYValue', 'IG#_RESEARCHValue', 'MACRORValue', 'NEUT#_RESEARCHValue', 'TSHRMesswert', 'QLDLMesswert', 'Fertig', 'TRIMesswert', 'NEWXValue', 'MOXValue', 'CLMesswert', 'LYXValue', 'TNCDValue', 'INTER6Messwert', 'GFRCKDMesswert', 'RDWMesswert', 'HCTValue', 'HSMesswert', 'IG_RESEARCHValue', 'LYWZValue', 'LYWXValue', 'Gender', 'HBAMesswert', 'PMesswert', 'PLTValue', 'APHMesswert', 'AFNR', 'LEUMesswert', 'MCHCValue', 'NESFLValue', 'MONO#_RESEARCHValue', 'LDH37Messwert', 'LYMPH#_RESEARCHValue', 'MOZValue', 'LYZValue', 'PDW_RESEARCHValue']]
troponin_dataset_whole.head(10)

,MOWYValue,GPT37Messwert,EO_RESEARCHValue,TROPTHSMesswert,LDLMesswert,CHOMesswert,RDWCVValue,LYMPH_RESEARCHValue,NEUT_RESEARCHValue,PTTAFMesswert,...,AFNR,LEUMesswert,MCHCValue,NESFLValue,MONO#_RESEARCHValue,LDH37Messwert,LYMPH#_RESEARCHValue,MOZValue,LYZValue,PDW_RESEARCHValue
0,712,27,5.8,16,57,105,27.1,18.9,64.4,NaN,...,619123,4.9,31.1,43.3,0.43,143,0.92,63,59.6,10.2
1,NaN,31,NaN,16,NaN,NaN,14.4,NaN,NaN,NaN,...,318917,7.7,34.6,NaN,NaN,NaN,NaN,NaN,NaN,12.5
2,640,NaN,2.1,16,155,241,13.1,31.6,57.6,NaN,...,359218,5.6,34.2,48.4,0.45,NaN,1.78,65.8,57.2,9.3
3,693,18,2.9,16,95,175,12.2,31.8,56.1,NaN,...,335855,6,32.9,44.9,0.5,179,1.89,60.6,60,15.2
4,941,14,1.9,16,NaN,NaN,13.6,26.6,62.4,NaN,...,361271,8.5,31.2,45.4,0.73,194,2.27,63.6,58.2,9.8
5,NaN,54,NaN,16,146,208,14.3,NaN,NaN,NaN,...,326242,6.9,32.8,NaN,NaN,NaN,NaN,NaN,NaN,14.3
6,689,19,9.4,16,NaN,NaN,13.2,19.8,60.2,NaN,...,627262,5.8,34.2,39.7,0.54,194,1.14,67.9,60.4,12
7,NaN,NaN,NaN,16,112,196,NaN,NaN,NaN,NaN,...,325286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,16,NaN,NaN,NaN,NaN,NaN,NaN,...,307387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,595,NaN,3.6,16,NaN,NaN,12.7,20.8,65.6,NaN,...,335820,7.7,33.7,45.9,0.71,193,1.6,65.1,58.6,14.2

In [17]:
final_dataset = pd.concat([troponin_dataset, troponin_dataset_whole], ignore_index=True)
print(final_dataset.head(10))

       AFNR  AFNR_kopieraster    ttt  AFNR_doppelt Kommentar        AANR  \
0  410414.0          410397.0   17.0           NaN       NaN  20319872.0
1  410397.0          410393.0    4.0           NaN       NaN  20319842.0
2  410393.0          410385.0    8.0           NaN       NaN  20319833.0
3  189467.0          189254.0  213.0           NaN       NaN  20319772.0
4  410385.0          410384.0    1.0           NaN       NaN  20319821.0
5  410353.0          410352.0    1.0           NaN       NaN  20319757.0
6  410352.0          410350.0    2.0           NaN       NaN  20319764.0
7  232286.0          232250.0   36.0           NaN       NaN  20319684.0
8  230195.0          230142.0   53.0           NaN       NaN  20319604.0
9  410292.0          410286.0    6.0           NaN       NaN  20319615.0

          Geb PatientBirthday Geburtstag_komb  dattag  ... VITB2Messwert  \
0  1950-07-01      1950-07-01      1950-07-01     0.0  ...           NaN
1  1960-07-08      1960-07-08      1960-07-08     0.0  ...           NaN
2  1959-01-21      1959-01-21      1959-01-21     0.0  ...           NaN
3  1984-06-19      1984-06-19      1984-06-19     0.0  ...           NaN
4  1996-09-08      1996-09-08      1996-09-08     0.0  ...           NaN
5  1939-02-21      1939-02-21      1939-02-21     0.0  ...           NaN
6  1985-05-22      1985-05-22      1985-05-22     0.0  ...           NaN
7  1970-01-19      1970-01-19      1970-01-19     0.0  ...           NaN
8  1962-07-18      1970-01-01      1962-07-18 -2724.0  ...           NaN
9  1950-06-19      1950-06-19      1950-06-19     0.0  ...           NaN

  VITB6Messwert VITCMesswert VITEMesswert  VITK1Messwert VITK2MK4Messwert  \
0           NaN          NaN          NaN            NaN              NaN
1           NaN          NaN          NaN            NaN              NaN
2           NaN          NaN          NaN            NaN              NaN
3           NaN          NaN          NaN            NaN              NaN
4           NaN          NaN          NaN            NaN              NaN
5           NaN          NaN          NaN            NaN              NaN
6           NaN          NaN          NaN            NaN              NaN
7           NaN          NaN          NaN            NaN              NaN
8           NaN          NaN          NaN            NaN              NaN
9           NaN          NaN          NaN            NaN              NaN

  WBCDValue  WBCValue  ZNMesswert  ZYLBMesswert
0       NaN     10.76         NaN           NaN
1       NaN     10.39         NaN           NaN
2       NaN     13.95         NaN           NaN
3       NaN      9.01         NaN           NaN
4       NaN      7.65         NaN           NaN
5       NaN      7.66         NaN           NaN
6       NaN      9.50         NaN           NaN
7       NaN     10.16         NaN           NaN
8       NaN      5.33         NaN           NaN
9       NaN      9.11         NaN           NaN

[10 rows x 268 columns]

In [18]:
#Columns that are not relevant or double in the dataset
columns_to_eliminate = ['WBCValue', 'TNCValue', 'PLTIValue', 'AFNR','ttt',  'AFNR_kopieraster', 'AFNR_doppelt', 'ttt', 'Kommentar', 'AANR', 'Gender', 'Geb', 'PatientBirthday', 'Geburtstag_komb', 'Geschlecht_komb',  'Trop_2Kat', 'TROPiHSMesswert', 'dattag', 'Gender', 'Sex', 'Abnahme', 'Eingang', 't', 'Fertig', 'MeasurementDateandTime' ]
final_dataset.drop(columns_to_eliminate, axis=1, inplace=True)
final_dataset.head(10)

,TROPTHSMesswert,Alter,@25OHDMesswert,A1AMesswert,ACTHMesswert,AFPMesswert,AKTTMesswert,ALBMesswert,ALBUMMesswert,ALPHA1Messwert,...,VITB1Messwert,VITB2Messwert,VITB6Messwert,VITCMesswert,VITEMesswert,VITK1Messwert,VITK2MK4Messwert,WBCDValue,ZNMesswert,ZYLBMesswert
0,89.000,26998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14.000,23338.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12.000,23872.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.000,14591.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.000,10127.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9.000,31146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.999,14254.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5.000,19856.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6.000,22598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1184.000,27010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Define the threshold for missing values (60%)
threshold = 0.8

# Calculate the percentage of missing values for each column
missing_percentage = final_dataset.isnull().mean()

# Drop columns where the percentage of missing values is greater than the threshold
final_dataset = final_dataset.loc[:, missing_percentage <= threshold]

# Display the remaining columns
print("Columns after removing those with more than 80% missing values:")
print(f"Number of columns: {len(final_dataset.columns)}")
print(final_dataset.columns)

Columns after removing those with more than 80% missing values:
Number of columns: 99
Index(['TROPTHSMesswert', 'Alter', 'ALBMesswert', 'APHMesswert', 'BAD#Value',
       'BADValue', 'BASO_RESEARCHValue', 'BASO#_RESEARCHValue', 'BIGMesswert',
       'CAKORRMesswert', 'CAMesswert', 'CHOMesswert', 'CLMesswert',
       'CPK37Messwert', 'CRPMesswert', 'EO_RESEARCHValue', 'EO#_RESEARCHValue',
       'FEMesswert', 'FERNEUMesswert', 'FT3RMesswert', 'GEMesswert',
       'GFRCKDMesswert', 'GGT37Messwert', 'GLUCMesswert', 'GOT37Messwert',
       'GPT37Messwert', 'HBAIFCCMesswert', 'HBAMesswert', 'HCTValue',
       'HDLMesswert', 'HFLC#Value', 'HFLCValue', 'HGBValue', 'HSMesswert',
       'HSTMesswert', 'IG_RESEARCHValue', 'IG#_RESEARCHValue', 'INRQMesswert',
       'INTER6Messwert', 'KMesswert', 'KRCMesswert', 'KRCOMPMesswert',
       'LDH37Messwert', 'LDLMesswert', 'LEUMesswert', 'LYMPH_RESEARCHValue',
       'LYMPH#_RESEARCHValue', 'LYWXValue', 'LYWYValue', 'LYWZValue',
       'LYXValue', 'LYYValue', 'LYZValue', 'MACRORValue', 'MCHCValue',
       'MCHValue', 'MCVValue', 'MICRORValue', 'MONO_RESEARCHValue',
       'MONO#_RESEARCHValue', 'MOWXValue', 'MOWYValue', 'MOWZValue',
       'MOXValue', 'MOYValue', 'MOZValue', 'MPVValue', 'NAMesswert',
       'NEFSCValue', 'NESFLValue', 'NESSCValue', 'NEUT_RESEARCHValue',
       'NEUT#_RESEARCHValue', 'NEWXValue', 'NEWYValue', 'NEWZValue',
       'nFT4Messwert', 'NRBC#Value', 'NRBCValue', 'PCTValue',
       'PDW_RESEARCHValue', 'PLCR_RESEARCHValue', 'PLTValue', 'PMesswert',
       'PROBNPMesswert', 'PTTAFMesswert', 'QHDLMesswert', 'QLDLMesswert',
       'QUIMesswert', 'RBCValue', 'RDWCVValue', 'RDWMesswert', 'RDWSDValue',
       'RMFVValue', 'TNCDValue', 'TRIMesswert', 'TRNMesswert', 'TSHRMesswert',
       'WBCDValue'],
      dtype='object')

In [20]:
# Set boundaries for bins
lower_boundary = 15
upper_boundary = 50

# Define number of bins
bins_below_15 = 2
bins_between = 3
bins_above_50 = 2

edges_below = np.linspace(final_dataset['TROPTHSMesswert'].min(), lower_boundary, bins_below_15 + 1)
edges_between = np.linspace(lower_boundary, upper_boundary, bins_between + 1)
edges_above = np.linspace(upper_boundary, final_dataset['TROPTHSMesswert'].max(), bins_above_50)

edges = np.unique(np.concatenate([edges_below, edges_between, edges_above]))

final_dataset['TROPTHSMesswert'] = pd.cut(final_dataset['TROPTHSMesswert'], bins=edges, labels=False)

print(final_dataset['TROPTHSMesswert'])

0        5.0
1        1.0
2        1.0
3        0.0
4        0.0
        ...
15950    4.0
15951    4.0
15952    4.0
15953    4.0
15954    4.0
Name: TROPTHSMesswert, Length: 15955, dtype: float64

In [21]:
# Print the number of unique labels (bins)
num_labels = final_dataset['TROPTHSMesswert'].nunique()
print(f"Number of labels (bins): {num_labels}")

# Print the count of cases in each label
label_counts = final_dataset['TROPTHSMesswert'].value_counts().sort_index()
print("\nNumber of cases in each label:")
print(label_counts)

Number of labels (bins): 8

Number of cases in each label:
TROPTHSMesswert
0.0    5721
1.0    3588
2.0    1290
3.0     694
4.0     378
5.0    3254
6.0       2
7.0       2
Name: count, dtype: int64

In [22]:
# replace non-numerical values with missing values; imputation is not possible with them
# values like CLOT, MUEBS, ',,,', hm, etc.
for column in final_dataset.columns:
    final_dataset[column] = pd.to_numeric(final_dataset[column], errors='coerce')

# Define splitting boundaries
split_1 = int(0.8 * len(final_dataset))
split_2 = int(0.9 * len(final_dataset))

# Shuffle dataset and reset index
final_dataset = final_dataset.sample(n = len(final_dataset))
final_dataset = final_dataset.reset_index(drop=True)

# Split dataset in train/test/split
train_set = final_dataset[: split_1]
dev_set = final_dataset[split_1:split_2]
test_set = final_dataset[split_2:]

In [23]:
# Impute missing values
imputer = IterativeImputer()

#Fit and transform sets
train_imputed = imputer.fit_transform(train_set)
test_imputed = imputer.transform(test_set)
dev_imputed = imputer.transform(dev_set)

In [25]:
#Convert into DataFrame
pd_train = pd.DataFrame(train_imputed, columns=train_set.columns)
pd_test = pd.DataFrame(test_imputed, columns=test_set.columns)
pd_dev = pd.DataFrame(dev_imputed, columns=dev_set.columns)

whole_dataset = pd.concat([pd_train, pd_test, pd_dev], ignore_index=True)

In [26]:
# should we shuffle the data before saving it to csv files
pd_train.to_csv('data/train-dataset.csv')
pd_dev.to_csv('data/dev-dataset.csv')
pd_test.to_csv('data/test-dataset.csv')
whole_dataset.to_csv('data/whole-dataset.csv')